:root{
  --white: #ffff;
  --grey: #868686;
  --black: #000000;
  --pink1: #DEB8B8;
  --black2: #313035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  padding: 0 35px;
  padding-top: 200px;
  justify-content: center;
  min-height: 100vh;
  background: url(/asset/bg\ about\ us.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2200px;
  position: relative;
  width: auto;
}

/* ========================= NAVBAR ===================================*/

nav{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1000;
  justify-content: space-between;
  background: url('../asset/NAV.png');
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 10px 10%;
  transition: 0.2s;
  width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 90px;
}

.search-login{
  display: flex;
  align-items: center;
}
.search-login .search-bar{
  width: 90%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  width: 400px;
  background: var(--white);
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-right: 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}
.search input{
  flex: 1;
  border: none;
  padding: 2px;
  font-size: 20px;
  margin: 10px;
  outline: none;
}
.search button{
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
#loginButton.login{
  background-color: var(--white);
  padding: 2%;
  font-size: 1.23em;
  font-weight: 600;
}
#loginButton.login:hover{
  border: .1em solid var(--black2);
}
.btn-login{
  width: 100%;
  padding: 8px;
  margin-right: 25px;
  border: none;
  background-color: var(--white);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.btn-login:hover{
  border: 2px solid var(--black);
  background: none;
}

nav ul{
  display: grid;
  list-style: none;
  align-items: center;
  grid-template-columns: auto auto auto;
  margin: 20px;
  gap: 20px;
}
nav ul li{
  text-align: center;
  padding-bottom: 10px;
}
nav ul li .nav, .dropbtn{
  font-size: 20px;
  padding: 0;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  width: max-content;
  position: relative;
  cursor: pointer;
  margin: 4px auto;
  text-shadow: 0px 0px 20px #000010;
  background: transparent;
  border: none;
  text-align: center;
}
nav ul .nav:hover{
  font-size: 22px;
}
nav ul .nav::after{
  content: "";
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 25%;
  left: 37.5%;
  background-color: var(--white);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
nav ul .nav:hover::after{
  transform: scaleX(1);
}
nav ul .nav i{
  font-size: 15px;
}
.dropdown-content{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--black2);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1%;
  border-radius: 5%;
}
.dropdown-content a{
  display: none;
}
.dropdown-content .category {
  float: none;
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown-content .category:hover {
  /* background-color: rgba(140, 140, 140, 0.386); */
  width: 100%;
  border: 2px solid var(--white);
  color: var(--pink1);
}

/* hamburger menu */
.menu-toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;

}
.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--black);
  transition: all 0.5s;
}
.menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}
.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
  transform: scale(0);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .search{
      width: 40px;
      height: 40px;
      padding: 10px;
      margin: 10px;
  }
  .search input{
      display: none;
      padding: 10px;
  }
  .search-login .search-bar{
      justify-content: end;
  }
  .nav{
      width: fit-content;
  }
  .nav{
      padding-bottom: 5px;
      font-size: 15px;
  }
  .nav:hover{
      font-size: 16px;
  }
  .nav::after{
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 25%;
      left: 37.5%;
      background-color: var(--black);
      transition: 0.3s;
      transition-timing-function: ease-in-out;
      transform: scaleX(0);
  }
  .nav:hover::after{
      transform: scaleX(1);
  }
  .dropbtn {
      font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .menu-toggle{
      display: flex;
  }
  nav ul{
      position: absolute;
      right: 0;
      grid-template-columns: none;
      margin-top: 34px;
      height: 78vh;
      background-color: var(--black2);
      color: var(--white);
      padding: 10px;
      width: 80%;
      transform: translateX(105%);
      transition: all 1s;
      opacity: 0;
  }
  nav ul.menu{
      opacity: 1;
      transform: translateX(0);
  }
  .dropdown-content{
      width: 100%;
      right: 0;
  }
  .dropdown-content .category {
    font-size: 2em;
  }
} 

/* ========================= PROFILE SLIDER ===================================*/

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 12%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
  left: -22px;
}

.wrapper i:last-child{
  right: -22px;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: 0px 0px 17px 0px rgba(190, 169, 172, 1)
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 400px;
  list-style: none;
  background: #fff;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 4px rgba(190, 169, 172, 1);
}

.carousel .card .img {
  height: 148px;
  width: 148px;
  border-radius: 50%;
  padding-bottom: 80px;
}

.card .img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px groove rgba(222, 184, 184, 1);;
}

.carousel .card h3 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 0 0 20px;
}

.carousel .card h5 {
  color: rgba(202, 114, 114, 1);
  font-size: 1.31rem;
}

.icon a img{
  display: inline-block;
  margin: 10px 15px -60px 15px;
}

.icons a img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* ========================= CONTACT US ===================================*/

.heading{
  margin-top: 2em;
  text-align: center;
  font-size:50px;
  color: var(--black);
  font-weight: normal;
}

.contact{
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.233);
}

.contact .row {
  margin-top: -10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 2rem 2rem 2rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 40rem;
  width: 100%;
}

.contact .row form .box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  font-size: 1.8rem;
  color: var(--black);
  padding: 1.4rem;
  text-transform: none;
}

.contact .row form span {
  font-size: 1.6rem;
  color: var(--black);
}

.contact .row form .radio {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact .row form .radio label {
  font-size: 1.6rem;
  color: var(--black);
  margin-left: 0.5rem;
  cursor: pointer;
}

.contact .row form .radio #female {
  margin-left: 2rem;
}

.contact .row form .radio input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--black);
  cursor: pointer;
}

.contact .row form .radio input:checked {
  background-color: var(--blue);
  border-radius: 5rem;
}

.contact .btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: rgba(222, 184, 184, 1);
  cursor: pointer;
  color: var(--black);
  font-size: 1.8rem;
  padding: 1rem 3rem;
  /* margin-left: 25rem; */
}

.contact .btn:hover {
  background-color: var(--light-white);
  color: var(--light-white);
}

/* ========================= FOOTER ===================================*/

.container {
  width: 90%;
  margin: 50px auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 0 0 0 0;
  text-align: center;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(3, 60fr);
  gap: 5rem;
}

.footer_container > div h2 {
  margin-bottom: 1.2rem;
  text-align: justify;
}

footer .kategori li{
  margin-left: 1.5rem;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 0.7rem;
  text-align:justify;
}

footer .kontak li{
 display: inline-block;
 margin: 17px 0 50px 0;
}

footer .kontak img{
  width: 45px;
}

footer a{
  color: rgb(172, 128, 128);
}

footer ul li a:hover {
  text-decoration: underline;
}

footer ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 90%;
  }
  .footer_container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 94%;
  }

  .footer_container {
    display: grid;
    grid-template: auto 
    / auto auto;
    gap: 5rem;
    justify-content: space-evenly;
  }
  .footer_container div:nth-child(1){
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .copyright  {
    margin: 1rem auto;
  }

  .kontak {
    justify-content: center;
  }
  .footer_container > div h2 {
    font-size: 2em;
  }
  footer .footer_2 a {
    font-size: 1.2em;
  }
  footer ul li {
    font-size: 1.6em;
  }
}