@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

:root{
    --white: #ffff;
    --grey: #868686;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    padding: 0 35px;
    /* padding-top: 200px; */
    justify-content: center;
    min-height: 100vh;
    background: url(/asset/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 2300px;
    position: relative;
    width: auto;
    overflow-x: hidden;
  }

header{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    background: url('../asset/NAV.png');
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 10px 10%;
    transition: 0.2s;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
}

.search-login{
    display: flex;
    align-items: center;
}
.search-login .search-bar{
    width: 90%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    width: 400px;
    background: var(--white);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-right: 10px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}
.search input{
    flex: 1;
    border: none;
    padding: 2px;
    font-size: 20px;
    margin: 10px;
    outline: none;
}
.search button{
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.btn-login{
    width: 100%;
    padding: 8px;
    margin-right: 25px;
    border: none;
    background-color: var(--white);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.btn-login:hover{
    border: 2px solid var(--black);
    background: none;
}

.nav{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.dropdown .dropbtn, .nav a{
    font-size: 20px;
    padding: 11px 30px;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 4px auto;
    text-shadow: 0px 0px 20px #000010;
}
.nav a:hover{
    font-size: 22px;
}
.nav a::after{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 25%;
    left: 37.5%;
    background-color: var(--white);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.nav a:hover::after{
    transform: scaleX(1);
}
.nav a i{
    font-size: 15px;
}
.dropdown {
    float: left;
    /* overflow: hidden; */
  }

  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: -7px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 1px auto;
    cursor: pointer;
    font-weight: 600;
    margin-top: -3px;
    text-shadow: 0px 0px 20px #000010;
  }
  .dropdown .dropbtn:hover{
    font-size: 22px;
  }
  .dropdown .dropbtn::after{
    content: "";
    position: absolute;
    bottom: 20px;
    height: 3px;
    width: 4%;
    left: 67%;
    background-color: var(--white);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }
  .dropdown .dropbtn:hover::after{
    transform: scaleX(1);
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #555;
    width: 100%;
    text-align: center;
  }

/* hamburger menu */
.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    background-color: var(--black);
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    .search{
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .search input{
        display: none;
        padding: 10px;
    }
    .search-login .search-bar{
        justify-content: end;
    }
    .nav{
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .nav{
        display: none;
    }
}


.content{
    margin-top: -40px;
    padding: 0;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.slider{
    width: 100%;
    height: 250px;
    /* border-radius: 10px; */
    overflow: hidden;
    margin-top: 230px;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.img-slide{
    width: 20%;
    transition: 2s;
}
.img-slide img{
    width: 100%;
    height: 100%;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -20px;
    justify-content: center;
    display: none;
}
.m-btn{
    /* border: 2px solid #4a4a4a; */
    background-color: var(--grey);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 40px;
}
.m-btn:hover{
    background-color: var(--grey);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 227px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    /* border: 2px solid #4a4a4a; */
    background-color: var(--grey);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: var(--white);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: var(--white);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: var(--white);
}

.second{
    margin-top: 50px;
    padding: 10px 5%;
    flex-wrap: nowrap;
    display: flex;
    gap: 1rem;
}
.second .left-sc{
    width: 50%;
    height: 500px;
}
.second .left-sc h3{
    margin: 10px 0 30px 0;
    font-weight: 400;
    font-size: 25px;
}
.second .left-sc .list-news{
    margin: -10px 100px 0 10px;
}
.second .left-sc .picture{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 18px;
}
.second .left-sc .picture img{
    float: left;
    height: 100px;
    width: 200px;
}
.second .left-sc .picture .text{
    margin-right: 100;
}
.second .left-sc .picture .text a{
    color: var(--black);
}
.second .right-sc{
    width: 50%;
    height: 500px;
    /* display: flex; */
}
.second .right-sc h3{
    margin: 10px 0 -6px 0;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 14px;
}

.second .image-container {
    position: relative;
    width: 49%;
    float: left;
    margin: 1px;
  }

.second .image-container img {
    width: 100%;
    height: 100% auto;
    display: block;
  }

.second .overlay-text {
    position: absolute;
    /* top: 50%;
    left: 24%; */
    transform: translate(0, -100%);
    color: var(--white);
    /* text-align: center; */
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--grey);
    padding: 10px;
  }

.second .clear {
    clear: both;
  }

.third{
    margin-top: 50px;
    padding: 10px 5%;
    gap: 1rem;
}
.third .left-sc{
    width: 100%;
    height: auto;
    border: 2px solid var(--black);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 134px;
}
.third .left-sc legend{
    margin-left: 37%;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.third .left-sc h3{
    margin: 10px 0 -6px 0;
    font-weight: 400;
    font-size: 25px;
}
.third .left-sc form{
    margin-right: -110px;
}
.third .image-container {
    position: relative;
    width: 30%;
    float: left;
    margin: 3px;
    justify-content: center;
  }

.third .image-container img {
    width: 100%;
    height: 100% auto;
    display: block;
  }

.third .overlay-text {
    position: absolute;
    /* top: 50%;
    left: 24%; */
    transform: translate(0, -100%);
    color: var(--white);
    /* text-align: center; */
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--grey);
    padding: 10px;
  }

.third .clear {
    clear: both;
  }


footer .container {
    width: 90%;
    margin: 50px auto;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: -8rem 0 0 0;
    text-align: center;

  }
  .footer_container {
    display: grid;
    grid-template-columns: repeat(3, 60fr);
    gap: 5rem;
  }
  .footer_container > div h2 {
    margin-bottom: 1.2rem;
    text-align: justify;
  }
  footer .kategori li{
    margin-left: 1.5rem;
  }
  footer ul li {
    list-style-type: none;
    margin-bottom: 0.7rem;
    /* margin-left: 4.5rem; */
    text-align:justify;
  }
  footer .kontak li{
   display: inline-block;
   margin: 17px 0 50px 0;
  }
  footer .kontak img{
    width: 45px;
  }
  footer a{
    color: rgb(172, 128, 128);
  }
  footer ul li a:hover {
    text-decoration: underline;
  }
  footer ul a:hover {
    text-decoration: underline;
  }