:root {
  --white: #ffff;
  --grey: #868686;
  --grey2: #868686a9;
  --black: #000000;
  --pink1: #DEB8B8;
  --black2: #313035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

main {
  padding-top: 150px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-left: 150px;
  padding-right: 150px;
}

/* ========================= NAVBAR ===================================*/

nav {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1000;
  justify-content: space-between;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 25px;
  transition: 0.2s;
  width: 100%;
  background-color: var(--pink1);
  align-items: center;
  gap: 2rem;
  backdrop-filter: blur(6px);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.logo img:hover {
  transform: scale(1.08);
}

.search-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

button.btn-login,
#loginButton.login,
button.btn-search,
#searchButton.search {
  background: var(--white);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black2);
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

button.btn-login:hover,
button.btn-search:hover {
  color: var(--pink1);
}


nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 10px;
  gap: 30px;
}

nav ul li {
  text-align: center;
}

nav ul li .nav,
.dropbtn {
  font-size: 1.2rem;
  padding: 0;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  width: max-content;
  position: relative;
  cursor: pointer;
  margin: 4px auto;
  /* text-shadow: 0px 0px 20px #000010; */
  background: transparent;
  border: none;
  text-align: center;
}

nav ul .nav::after {
  content: "";
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: var(--white);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

nav ul .nav:hover::after {
  transform: scaleX(1);
}

nav ul .nav i {
  font-size: 15px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--pink1);
  min-width: 180px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 99;
  padding: 8px 0;
  border-radius: 10px;
  border: 2px solid var(--grey2);
}

.dropdown-content a {
  display: none;
}

.dropdown-content .category {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease;
  border-radius: 6px;
  margin: 4px 8px;
}

.dropdown-content a {
  font-size: 20px;
}

.dropdown-content .category:hover {
  background: rgba(255, 255, 255, 0.9);
  color: var(--pink1);
  transform: translateX(3px);
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;

}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--black);
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .search {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
  }

  .search input {
    display: none;
    padding: 10px;
  }

  .search-login .search-bar {
    justify-content: end;
  }

  #loginButton.login {
    font-size: 1.83em;
  }

  .nav {
    width: fit-content;
  }

  .nav {
    padding-bottom: 5px;
    font-size: 15px;
  }

  .nav:hover {
    font-size: 16px;
  }

  .nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 25%;
    left: 37.5%;
    background-color: var(--black);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }

  .nav:hover::after {
    transform: scaleX(1);
  }

  .dropbtn {
    font-size: 15px;
  }
}

/* @media screen and (max-width: 700px) {
  nav ul li .nav{
    font-size: 1em;
    transition: all 1s;
  }
} */

@media screen and (max-width: 576px) {
  #loginButton.login {
    font-size: 2.5em;
    padding: 5%;
  }

  .menu-toggle {
    display: flex;
    margin-top: 1em;
  }

  nav ul {
    position: absolute;
    right: 0;
    grid-template-columns: none;
    margin-top: 34px;
    height: 78vh;
    background-color: var(--black2);
    color: var(--white);
    padding: 10px;
    width: 100%;
    transform: translateX(105%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.menu {
    opacity: 1;
    transform: translateX(0);
  }

  .dropdown-content {
    width: 100%;
    right: 0;
  }

  .dropdown-content .category {
    font-size: 2em;
  }
}

/* ========================= CONTENT ===================================*/
.wrapper {
  width: 100%;
  position: relative;
}

/* SLIDER IMAGE */
.slider {
  position: relative;
  width: 80%;
  height: 30rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  justify-self: center;
}

.slide {
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide input {
  display: none;
}

.img-slide {
  width: 20%;
  transition: 2s;
}

.img-slide img {
  width: 100%;
  height: 100%;
}

.nav-m {
  position: absolute;
  width: 800px;
  margin-top: -20px;
  justify-content: center;
  display: none;
}

.m-btn {
  background-color: var(--grey);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(:last-child) {
  margin-right: 40px;
}

.m-btn:hover {
  background-color: var(--grey);
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 480px;
  display: flex;
  justify-content: center;
}

.nav-auto div {
  background-color: var(--grey);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.nav-auto .a-b1 {
  background-color: var(--white);
  width: 60px;
}

#radio2:checked~.nav-auto .a-b2 {
  background-color: var(--white);
  width: 60px;
}

#radio3:checked~.nav-auto .a-b3 {
  background-color: var(--white);
  width: 60px;
}

/* LAYOUT NEWS 1 */
.second {
  margin-top: 70px;
  padding: 0 150px 70px 150px;
  /* background-color: var(--pink1); */
  background-color: color-mix(in srgb, var(--pink1), transparent 50%);
  width: 100%;
}

p.second-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}

.second .left-sc {
  display: grid;
  grid-template-columns: 3fr 4fr;
  /* kolom 1 lebih kecil, kolom 2 lebih lebar */
  gap: 20px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.big-article .category,
.wide-article .category,
.small-article .category {
  position: absolute;
  background-color: var(--grey2);
  right: 0;
  top: 0;
  padding: 11px;
  border-bottom-left-radius: 10px;
  font-size: .7rem;
}

.big-article .category p,
.wide-article .category p,
.small-article .category p {
  color: var(--white);
  text-transform: capitalize;
}

.big-article,
.wide-article,
.small-article {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.25);
}

.big-article img,
.wide-article img,
.small-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 20%;
  transition: transform 0.2s ease;
}

.big-article h3 {
  margin: 10px 0;
}

.big-article:hover img,
.wide-article:hover img,
.small-article:hover img {
  transform: scale(1.05);
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 20px;
  transform: translateY(100%);
  transition: all 0.4s ease;
  background: color-mix(in srgb, var(--grey), transparent 20%);
}

.overlay p {
  color: var(--pink1);
  font-weight: 500;
  font-size: .85rem;
}

.big-article:hover .overlay,
.wide-article:hover .overlay,
.small-article:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

/* LAYOUT NEWS BY CATEGORY */
.third {
  margin-top: 90px;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 70% 5% 25%;
  margin-bottom: 50px;
}

.third .left-sc p {
  text-transform: uppercase;
  margin: 13px 0 13px 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.third .left-sc p::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 40px;
  margin-right: 25px;
  background: var(--pink1);
  vertical-align: middle;
}

.third .left-sc .list-news {
  margin: 0;
  width: fit-content;
}

.third .left-sc .list-news .picture {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 20% 2% 78%;
  justify-content: center;
  justify-content: flex-start;
}

.third .left-sc .list-news .picture img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.third .left-sc .list-news .picture .text {
  color: var(--black);
  align-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.third .left-sc .list-news .picture .text span.title {
  font-weight: 700;
  font-size: .95em;
  text-align: justify;
  margin-bottom: 13px;
}

.third .left-sc .list-news .picture .text span.title:hover {
  text-decoration: underline;
}

.third .left-sc .list-news .picture .text span.desc {
  font-weight: 500;
  opacity: 80%;
  font-size: .95em;
}

.picture .text .category-time {
  display: flex;
  justify-content: space-between;
}

.picture .text .category-time span.category {
  color: var(--pink1);
  font-weight: 600;
  background-color: color-mix(in srgb, var(--pink1), transparent 70%);
  padding: 5px;
  border-radius: 10px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  font-size: .7rem;
}

.picture .text .category-time span.time {
  color: var(--pink1);
  font-weight: 500;
  font-size: .7rem;
  border: var(--pink1) 3.5px solid;
  border-radius: 10px;
  padding: 3px;
  border-color: color-mix(in srgb, var(--pink1), transparent 60%);
}

.third .left-sc a .lihat-semua {
  width: 25%;
  border: 2.5px solid var(--pink1);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  justify-self: center;
  border-radius: 35px;
}

.third .left-sc .lihat-semua:hover {
  border: 2.5px solid color-mix(in srgb, var(--grey), transparent 80%);
  color: var(--grey);
  background-color: color-mix(in srgb, var(--grey), transparent 80%);
}

.third .left-sc .lihat-semua span {
  font-size: .85rem;
  color: var(--pink1);
}

.third .left-sc .lihat-semua:hover span {
  color: var(--black2);
  /* font-weight: 600; */
}

.third .right-sc {
  width: 100%;
  display: grid;
  background-color: color-mix(in srgb, var(--grey), transparent 95%);
  border-radius: 10px;
  padding: 15px;
}

.third .right-sc span.title-sc {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--pink1);
  justify-self: self-start;
}

.third .right-sc .list-trending {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.third .right-sc .list-trending .item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.third .right-sc .list-trending .item span.number {
  font-weight: 700;
  font-size: 2rem;
  color: color-mix(in srgb, var(--grey), transparent 60%);
}

.third .right-sc .list-trending .item .article {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.third .right-sc .list-trending .item .article span.title {
  font-weight: 600;
  font-size: .95rem;
}

.third .right-sc .list-trending .item .article span.time {
  font-size: .7rem;
}

.third .clear {
  clear: both;
}

@media screen and (max-width: 1024px) {
  .second .left-sc .list-news .picture .text p {
    width: 233px;
  }

  .second .left-sc .picture .text a {
    color: var(--black);
    font-size: 1.3em;
  }

  .second .right-sc .image-container {
    font-size: 1em;
  }

  .third .left-sc .list-news .picture .text span {
    width: 225px;
  }

  .third .overlay-text {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {

  .second .left-sc h3,
  .second .right-sc h3,
  .third .left-sc h3,
  .third .right-sc .category-lihat-semua h3 {
    font-size: 3em;
  }

  .second {
    gap: 2.5em;
  }

  .second .left-sc {
    width: 100%;
    height: fit-content;
  }

  .second .left-sc .picture {
    grid-template-columns: auto;
  }

  .second .left-sc .picture img {
    height: 100%;
    width: 100%;
  }

  .second .left-sc .list-news .picture .text p {
    width: 100%;
    font-size: 2em;
    text-align: justify;
  }

  .second .right-sc .list-news-right {
    grid-template-columns: auto;
  }

  .second .right-sc .image-container {
    grid-template-rows: 20em auto;
  }

  .second .right-sc .image-container a:nth-child(2) {
    font-size: 1.6em;
  }

  .second .overlay-text {
    height: fit-content;
  }

  .third {
    margin-top: 27em;
  }

  .third .left-sc .list-news-pop {
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .third .left-sc .list-news-pop .image-container a:nth-child(2) {
    font-size: 1.4em;
  }

  .third .left-sc .list-news .picture img {
    height: 165px;
    width: 159px;
  }

  .third .left-sc .list-news .picture .text {
    gap: 5%;
  }

  .third .left-sc .list-news .picture .text span {
    width: 100%;
    font-size: 1.67em;
  }

  .third .right-sc .category-lihat-semua a {
    font-size: 1.4em;
  }

  .third .overlay-text {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 576px) {

  .second .left-sc h3,
  .second .right-sc h3,
  .third .left-sc legend,
  .third .left-sc h3,
  .third .right-sc .category-lihat-semua h3 {
    font-size: 3.5em;
  }

  .second {
    grid-template-columns: auto;
    width: fit-content;
    height: fit-content;
  }

  .second .left-sc {
    height: 100%;
    width: 100%;
  }

  .second .left-sc .list-news {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .second .left-sc .picture {
    width: 100%;
    gap: 1em;
    border: 2px solid var(--pink1);
    grid-template-rows: 20em auto;
  }

  .second .left-sc .picture img {
    height: 100%;
    width: 100%
  }

  .second .left-sc .list-news .picture .text {
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-around;
  }

  .second .left-sc .list-news .picture .text span {
    width: fit-content;
    font-size: 1.4em;
  }

  .second .right-sc .image-container {
    grid-template-rows: 30em auto;
  }

  .second .right-sc .image-container a:nth-child(2) {
    font-size: 1.5em;
  }

  .third {
    align-items: center;
  }

  .third .left-sc .list-news-pop {
    grid-template-columns: auto;
  }

  .third .left-sc .list-news-pop .image-container {
    grid-template-rows: 30em auto;
  }

  .third .left-sc .list-news-pop .image-container a:nth-child(2) {
    font-size: 1.9em;
  }

  .third {
    grid-template-columns: auto;
    width: fit-content;
    height: fit-content;
    margin-bottom: 800px;
  }

  .third .left-sc {
    height: 100%;
    width: 100%;
  }

  .third .left-sc .list-news {
    display: grid;
    width: 100%;
  }

  .third .left-sc .picture {
    width: 100%;
  }

  .third .left-sc .list-news .picture .text span {
    font-size: 1.7em;
  }

  .third .left-sc .lihat-semua span {
    font-size: 1.6em;
  }

  .third .right-sc .category-lihat-semua a {
    font-size: 1.8em;
  }

  .third .right-sc .image-container {
    grid-template-columns: 20em auto;
  }

  .third .right-sc .image-container .overlay-text {
    font-size: 2em;
  }
}

@media screen and (max-width: 400px) {

  .third {
    margin-bottom: 900px;
  }

  .third .left-sc .list-news .picture {
    grid-template-columns: auto;
  }

  .third .left-sc .list-news .picture {
    gap: 5px;
  }

  .third .left-sc .list-news .picture img {
    width: 100%;
    height: auto;
  }

  .third .left-sc .list-news .picture .text {
    gap: 5%;
  }

  .third .left-sc .list-news .picture .text span {
    width: 100%;
  }

  .third .right-sc .category-lihat-semua a {
    font-size: 2em;
  }

  .third .overlay-text {
    font-size: 1.7em;
  }
}

/* ========================= FOOTER ===================================*/

.container {
  width: 100%;
}

footer {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
}

.footer_container {
  display: grid;
  grid-template-columns: 30% 5% 65%;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 0.7rem;
  text-align: justify;
}

.footer_logo img {
  width: 80px;
}

ul.kontak {
  display: flex;
  justify-content: center;
  gap: .6rem;
}

ul.kontak span {
  font-size: .85rem;
}

footer .kontak li {
  display: inline-block;
  margin: 17px 0 50px 0;
}

footer .kontak img {
  width: 45px;
}

.footer_2 {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.footer_2 ul#category-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

ul#category-list>li {
  flex: 1 1 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

ul#category-list>li>a {
  font-size: .85rem;
  font-weight: 600;
  color: var(--black);
}

ul#category-list>li>ul>li>a {
  color: rgb(172, 128, 128);
  font-size: .75rem;
  text-transform: capitalize;
}

/* footer a, 
footer span {
  color: rgb(172, 128, 128);
  align-self: start;
  text-transform: capitalize;
  margin-left: 20px;
} */

/* footer ul a:hover,
footer span.kategori:hover {
  text-decoration: underline;
} */

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .container {
    width: 90%;
  }

  .footer_container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 94%;
  }

  .footer_container {
    display: grid;
    grid-template: auto / auto auto;
    gap: 5rem;
    justify-content: space-evenly;
  }

  .footer_container div:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .copyright {
    margin: 1rem auto;
  }

  .kontak {
    justify-content: center;
  }

  .footer_container>div h2 {
    font-size: 2em;
  }

  footer .footer_2 a {
    font-size: 1.2em;
  }

  footer ul li {
    font-size: 1.6em;
  }
}