:root{
  --white: #ffff;
  --grey: #868686;
  --grey2: #868686a9;
  --black: #000000;
  --pink1: #DEB8B8;
  --black2: #313035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--white);
  padding: 15% 15% 0 15%;
}

/* ========================= NAVBAR ===================================*/

nav{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1000;
  justify-content: space-between;
  background: url('../asset/NAV.png');
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 10px 10%;
  transition: 0.2s;
  width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 90px;
}

.search-login{
  display: flex;
  align-items: center;
}
.search-login .search-bar{
  width: 90%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  width: 400px;
  background: var(--white);
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-right: 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}
.search input{
  flex: 1;
  border: none;
  padding: 2px;
  font-size: 20px;
  margin: 10px;
  outline: none;
}
.search button{
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
button.btn-login, #loginButton.login{
  background-color: var(--white);
  padding: 2%;
  font-weight: 600;
  font-size: 1.23em;
  border: none;
}
.btn-login, #loginButton.login:hover{
  border: .1em solid var(--black2);
  cursor: pointer;
}

nav ul{
  display: grid;
  list-style: none;
  align-items: center;
  grid-template-columns: auto auto auto;
  margin: 20px;
  gap: 20px;
}
nav ul li{
  text-align: center;
  padding-bottom: 10px;
}
nav ul li .nav, .dropbtn{
  font-size: 20px;
  padding: 0;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  width: max-content;
  position: relative;
  cursor: pointer;
  margin: 4px auto;
  text-shadow: 0px 0px 20px #000010;
  background: transparent;
  border: none;
  text-align: center;
}
nav ul .nav:hover{
  font-size: 22px;
}
nav ul .nav::after{
  content: "";
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 25%;
  left: 37.5%;
  background-color: var(--white);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
nav ul .nav:hover::after{
  transform: scaleX(1);
}
nav ul .nav i{
  font-size: 15px;
}
.dropdown-content{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--black2);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1%;
  border-radius: 5%;
}
.dropdown-content a{
  display: none;
}
.dropdown-content .category {
  float: none;
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown-content .category:hover {
  /* background-color: rgba(140, 140, 140, 0.386); */
  width: 100%;
  border: 2px solid var(--white);
  color: var(--pink1);
}

/* hamburger menu */
.menu-toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;

}
.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--black);
  transition: all 0.5s;
}
.menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}
.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
  transform: scale(0);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .search{
      width: 40px;
      height: 40px;
      padding: 10px;
      margin: 10px;
  }
  .search input{
      display: none;
      padding: 10px;
  }
  .search-login .search-bar{
      justify-content: end;
  }
  .nav{
      width: fit-content;
  }
  .nav{
      padding-bottom: 5px;
      font-size: 15px;
  }
  .nav:hover{
      font-size: 16px;
  }
  .nav::after{
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 25%;
      left: 37.5%;
      background-color: var(--black);
      transition: 0.3s;
      transition-timing-function: ease-in-out;
      transform: scaleX(0);
  }
  .nav:hover::after{
      transform: scaleX(1);
  }
  .dropbtn {
      font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .menu-toggle{
      display: flex;
  }
  nav ul{
      position: absolute;
      right: 0;
      grid-template-columns: none;
      margin-top: 34px;
      height: 78vh;
      background-color: var(--black2);
      color: var(--white);
      padding: 10px;
      width: 80%;
      transform: translateX(105%);
      transition: all 1s;
      opacity: 0;
  }
  nav ul.menu{
      opacity: 1;
      transform: translateX(0);
  }
  .dropdown-content{
      width: 100%;
      right: 0;
  }
  .dropdown-content .category {
    font-size: 1em;
  }
} 

/* ========================= CONTENT ===================================*/

.content{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px 2px rgba(0,0,0,0.25);
  box-shadow: 0 0 100px 2px rgba(0,0,0,0.25);
  border-radius: 20px;
}
.content .name{
  background: url('../asset/bg.png') no-repeat;
  background-color: currentcolor;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2%;
  background-size: cover;
  background-position: center;
}
.content .name h1{
  font-size: 3em;
}
.content .contain {
  display: grid;
  grid-template-rows: auto auto;
  padding: 5%;
}
.content .contain .row-1,
.content .contain .row-2{
  display: grid;
  grid-template-columns: 40% 5% auto;
}
.content .contain span{
  font-size: 1.8em;
}
.content .logout{
  width: 100%;
  display: grid;
  justify-items: end;
  padding: 3%;
}
.content .logout .button{
  width: fit-content;
  border: 2px solid var(--pink1);
  padding: 1.5%;
  grid-template-columns: auto auto;
  gap: 10%;
  align-items: center;
  border-radius: 20px;
}
.content .logout .button:hover{
  background-color: var(--pink1);
  color: var(--white);
  cursor: pointer;
}
.content .logout .button span:nth-child(1){
  font-size: 1.3em;
}

@media screen and (max-width: 1024px) {
  body{
    padding: 20% 15% 0 15%;
  }
}
@media screen and (max-width: 768px) {
  body{
    padding:35% 15% 0 15%;
  }
  .content .contain .data-user td{
    font-size: 1.4em;
  }
}
@media screen and (max-width: 576px) {
  body{
    padding: 38% 15% 0 15%;
  }
  .content .name h1 {
    font-size: 1.6em;
  }
  .content .contain span {
    font-size: 1.2em;
  }
  .content .contain .logout .button {
    border: 1.4px solid var(--pink1);
    padding: 1.8%;
  }
  .content .contain .logout .button span:nth-child(1) {
    font-size: .8em;
  }
  .content .contain .logout .button span.logout-btn {
    font-size: .7em;
  }
  
}
@media screen and (max-width: 400px) {
  .content .contain .row-1 {
    grid-template: 40% / 40% auto;
    row-gap: 10%;
    margin-bottom: 1em;
  }
  .content .logout .button span:nth-child(1) {
    font-size: 1em;
  }
  .content .logout .button span#logout-btn {
    font-size: .9em;
}
}

