:root{
    --white: #ffff;
    --grey: #868686;
    --grey2: #868686a9;
    --black: #000000;
    --pink1: #DEB8B8;
    --black2: #313035;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
  }
  
  body {
    display: flex;
    padding: 0 5%;
    padding-top: 200px;
    justify-content: center;
    background: url(/asset/bg\ about\ us.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    width: auto;
    margin: 0;
  }
  
  /* ========================= NAVBAR ===================================*/
  
  nav{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    background: url('../asset/NAV.png');
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 10px 10%;
    transition: 0.2s;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 90px;
  }
  
  .search-login{
    display: flex;
    align-items: center;
  }
  .search-login .search-bar{
    width: 90%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search{
    width: 400px;
    background: var(--white);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-right: 10px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  }
  .search input{
    flex: 1;
    border: none;
    padding: 2px;
    font-size: 20px;
    margin: 10px;
    outline: none;
  }
  .search button{
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  button.btn-login, #loginButton.login{
    background-color: var(--white);
    padding: 2%;
    font-weight: 600;
    font-size: 1.23em;
    border: none;
  }
  .btn-login, #loginButton.login:hover{
    border: .1em solid var(--black2);
    cursor: pointer;
  }
  
  nav ul{
    display: grid;
    list-style: none;
    align-items: center;
    grid-template-columns: auto auto auto;
    margin: 20px;
    gap: 20px;
  }
  nav ul li{
    text-align: center;
    padding-bottom: 10px;
  }
  nav ul li .nav, .dropbtn{
    font-size: 20px;
    padding: 0;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 4px auto;
    text-shadow: 0px 0px 20px #000010;
    background: transparent;
    border: none;
    text-align: center;
  }
  nav ul .nav:hover{
    font-size: 22px;
  }
  nav ul .nav::after{
    content: "";
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: 25%;
    left: 37.5%;
    background-color: var(--white);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }
  nav ul .nav:hover::after{
    transform: scaleX(1);
  }
  nav ul .nav i{
    font-size: 15px;
  }
  .dropdown-content{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--black2);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1%;
    border-radius: 5%;
  }
  .dropdown-content a{
    display: none;
  }
  .dropdown-content .category {
    float: none;
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
  }
  .dropdown-content .category:hover {
    /* background-color: rgba(140, 140, 140, 0.386); */
    width: 100%;
    border: 2px solid var(--white);
    color: var(--pink1);
  }
  
  /* hamburger menu */
  .menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
  
  }
  .menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  .menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--black);
    transition: all 0.5s;
  }
  .menu-toggle span:nth-child(2){
    transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
  }
  
  @media screen and (max-width: 768px) {
    .search{
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 10px;
    }
    .search input{
        display: none;
        padding: 10px;
    }
    .search-login .search-bar{
        justify-content: end;
    }
    .nav{
        width: fit-content;
    }
    .nav{
        padding-bottom: 5px;
        font-size: 15px;
    }
    .nav:hover{
        font-size: 16px;
    }
    .nav::after{
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 25%;
        left: 37.5%;
        background-color: var(--black);
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }
    .nav:hover::after{
        transform: scaleX(1);
    }
    .dropbtn {
        font-size: 15px;
    }
  }
  @media screen and (max-width: 576px) {
    .menu-toggle{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        grid-template-columns: none;
        margin-top: 34px;
        height: 78vh;
        background-color: var(--black2);
        color: var(--white);
        padding: 10px;
        width: 80%;
        transform: translateX(105%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.menu{
        opacity: 1;
        transform: translateX(0);
    }
    .dropdown-content{
        width: 100%;
        right: 0;
    }
    .dropdown-content .category {
      font-size: 2em;
    }
  } 
  
  /* ========================= CONTENT ===================================*/
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: grid;
    justify-items: center;
    gap: 4em;
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: grid;
    justify-items: center;
    gap: 4em;
    margin-bottom: 50%;
  }
  .wrapper p,ol li{
    font-size: 1.3em;
  }
  /* ========================= FOOTER ===================================*/
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 0 0 0;
    text-align: center;
  }
  
  .footer_container {
    display: grid;
    grid-template-columns: repeat(3, 60fr);
    gap: 5rem;
  }
  
  .footer_container > div h2 {
    margin-bottom: 1.2rem;
    text-align: justify;
  }
  
  footer .kategori li{
    margin-left: 1.5rem;
  }
  
  footer ul li {
    list-style-type: none;
    margin-bottom: 0.7rem;
    text-align:justify;
  }
  
  footer .kontak li{
   display: inline-block;
   margin: 17px 0 50px 0;
  }
  
  footer .kontak img{
    width: 45px;
  }
  
  footer a{
    color: rgb(172, 128, 128);
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 991px) {
    html {
      font-size: 55%;
    }
    .container {
      width: 90%;
    }
    .footer_container {
      grid-template-columns: auto auto auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    html {
      font-size: 50%;
    }
  
    .container {
      width: 94%;
    }
  
    .footer_container {
      display: grid;
      grid-template: auto 
      / auto auto;
      gap: 5rem;
      justify-content: space-evenly;
    }
    .footer_container div:nth-child(1){
      grid-row: 1;
      grid-column: 1 / 3;
    }
  
    .copyright  {
      margin: 1rem auto;
    }
  
    .kontak {
      justify-content: center;
    }
    .footer_container > div h2 {
      font-size: 2em;
    }
    footer .footer_2 a {
      font-size: 1.2em;
    }
    footer ul li {
      font-size: 1.6em;
    }
  }